div.quantity-picker {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.add-total {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 4rem;
}
.quantity-picker label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.quantity-picker button.btn{
  background-color: rgb(31, 53, 94);
  width: 2rem !important;
}
